# OS Junk
.DS_Store
Thumbs.db
settings.json
.vscode

# docker stuff
*.cache
.imagelist

# ignore local .env from versioning
**.env
**.envrc

# python stuff
**/.ipynb*
**/.pytest*
**/__pycache__

# except keep
!**.gitkeep
