[flake8]
ignore =
    E203,
    E265,
    E266,
    E501,
    W503,
    F403,
    F401,
    F541
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    dist
max-line-length = 119
max-complexity = 18
select = B,C,E,F,W,T4,B9,C4